/*
You can use this file as is or as a starting point for you own styling
*/

pre code[class]:after {
  content: 'highlight: ' attr(class);
  display: block; text-align: right;
  font-size: smaller;
  color: #CCC; background: white;
  border-top: solid 1px;
  padding-top: 0.5em;
}

pre code {
  display: block;
  background: #F0F0F0;
}

pre code, 
.ruby .subst {
  color: black;
}

.string,
.function .title,
.class .title, 
.tag .attribute .value,
.css .rules .value,
.preprocessor,
.ruby .symbol,
.built_in,
.sql .aggregate,
.django .template_tag,
.django .variable {
  color: #800;
}

.comment,
.java .annotation,
.template_comment {
  color: #888;
}

.number,
.regexp,
.javascript .literal {
  color: #080;
}

.javadoc,
.ruby .string,
.python .decorator,
.django .filter .argument {
  color: #88F;
}

.keyword,
.css .id,
.phpdoc,
.function .title,
.class .title,
.vbscript .built_in,
.sql .aggregate,
.rsl .built_in {
  font-weight: bold;
}