/*

    Name:       3024 day
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.3024-day-comment, pre .comment, pre .title {
  color: #5c5855;
}

.3024-day-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #db2d20;
}

.3024-day-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #e8bbd0;
}

.3024-day-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #fded02;
}

.3024-day-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #01a252;
}

.3024-day-aqua, pre .css .hexcolor {
  color: #b5e4f4;
}

.3024-day-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #01a0e4;
}

.3024-day-purple, pre .keyword, pre .javascript .function {
  color: #a16a94;
}

pre code {
  display: block;
  background: #f7f7f7;
  color: #4a4543;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
