/*
 * LESS Language Test Stylesheet
 */
.hljs {
  display: block;
  padding: 0.5em;
  background-color: #222222;
  color: #ffffff;
}
.hljs-keyword {
  font-weight: bold;
}
.hljs-comment {
  color: #888888;
}
/* Selectors */
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-hexcolor,
.hljs-color {
  color: #55aadd;
}
.hljs-string {
  color: #bbee99;
}
.hljs-at_rule .hljs-keyword {
  color: #fadd1e;
}
.hljs-at_rule .hljs-operator {
  font-style: italic;
  color: inherit;
}
.hljs-function {
  color: #ffffff;
}
.hljs-property {
  color: #ffaa11;
}
.hljs-important {
  color: #ee5555;
}
/* LESS */
.hljs-preprocessor {
  color: #bb88dd;
}
.hljs-built_in {
  color: #ee5555;
}
.hljs-variable {
  color: #cabbed;
}
.hljs-operator {
  color: #ffaa11;
}
/* -- additions */
