/*
Date: 17.V.2011
Author: pumbur <pumbur@pumbur.net>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst,
.diff .hljs-chunk {
  color: #aaa;
}

.profile .hljs-header *,
.hljs-section {
  color: #fff;
}

.hljs-comment,
.hljs-preprocessor,
.hljs-pragma,
.hljs-shebang,
.hljs-meta,
.profile .hljs-summary,
.diff,
.hljs-pi,
.hljs-doctype,
.hljs-tag,
.tex .hljs-special {
  color: #444;
}

.hljs-string,
.hljs-symbol,
.diff .hljs-change,
.hljs-regexp,
.xml .hljs-attribute,
.smalltalk .hljs-char,
.xml .hljs-value,
.clojure .hljs-attribute {
  color: #ffcc33;
}

.hljs-number,
.hljs-addition {
  color: #00cc66;
}

.hljs-built_in,
.hljs-literal,
.hljs-type,
.perl .hljs-variable,
.php .hljs-variable,
.mel .hljs-variable,
.django .hljs-variable,
.smalltalk .method,
.hljs-inheritance,
.hljs-name,
.hljs-attribute,
.parser3 .hljs-variable {
  color: #32aaee;
}

.hljs-keyword,
.hljs-tag .hljs-name,
.hljs-request,
.hljs-status {
  color: #6644aa;
}

.hljs-title,
.hljs-variable,
.hljs-parent,
.hljs-deletion,
.hljs-template_tag,
.objectivec .hljs-class .hljs-id,
.smalltalk .hljs-class,
.lisp .hljs-keyword,
.hljs-envvar,
.bash .hljs-variable,
.rsl .hljs-built_in,
.tail,
.tex .hljs-formula,
.tex .hljs-formula * {
  color: #bb1166;
}

.hljs-section,
.hljs-doctag,
.profile .hljs-header {
  font-weight: bold;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.6;
}
