/*
Date: 17.V.2011
Author: pumbur <pumbur@pumbur.net>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst {
  color: #aaa;
}

.hljs-section {
  color: #fff;
}

.hljs-comment,
.hljs-preprocessor,
.hljs-shebang,
.hljs-meta,
.tex .hljs-special {
  color: #444;
}

.hljs-string,
.hljs-symbol,
.hljs-regexp {
  color: #ffcc33;
}

.hljs-number,
.hljs-addition {
  color: #00cc66;
}

.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.smalltalk .method,
.hljs-attribute {
  color: #32aaee;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6644aa;
}

.hljs-title,
.hljs-variable,
.hljs-deletion,
.hljs-template-tag,
.smalltalk .hljs-class,
.tex .hljs-formula,
.tex .hljs-formula * {
  color: #bb1166;
}

.hljs-section,
.hljs-doctag {
  font-weight: bold;
}

.tex .hljs-formula {
  opacity: 0.6;
}
