/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre code {
  display: block;
  background: white; color: black;
  border: solid #CCC 1px;
}

pre .string,
pre .attribute .value,
pre .filter .argument,
pre .addition,
pre .change,
pre .apache .tag,
pre .apache .cbracket {
  color: #888;
}

pre .comment,
pre .template_comment,
pre .shebang,
pre .doctype,
pre .pi,
pre .javadoc,
pre .deletion,
pre .apache .sqbracket {
  color: #CCC;
}

pre .keyword,
pre .tag .title,
pre .ini .title,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .apache .tag {
  font-weight: bold;
}
