/*

    Name:       Base16 Atelier Lakeside Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.base16-atelierlakeside-light-comment, pre .comment, pre .title {
  color: #5a7b8c;
}

.base16-atelierlakeside-light-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #d22d72;
}

.base16-atelierlakeside-light-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #935c25;
}

.base16-atelierlakeside-light-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #8a8a0f;
}

.base16-atelierlakeside-light-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #568c3b;
}

.base16-atelierlakeside-light-aqua, pre .css .hexcolor {
  color: #2d8f6f;
}

.base16-atelierlakeside-light-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #257fad;
}

.base16-atelierlakeside-light-purple, pre .keyword, pre .javascript .function {
  color: #5d5db1;
}

pre code {
  display: block;
  background: #ebf8ff;
  color: #516d7b;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
