/* Base16 Atelier Heath Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Heath Comment */
.hljs-comment {
  color: #9e8f9e;
}

/* Atelier-Heath Red */
.hljs-variable,
.hljs-identifier,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-name {
  color: #ca402b;
}

/* Atelier-Heath Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-meta,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #a65926;
}

/* Atelier-Heath Green */
.hljs-string,
.hljs-value,
.hljs-header,
.hljs-symbol {
  color: #918b3b;
}

/* Atelier-Heath Blue */
.hljs-title,
.hljs-section {
  color: #516aec;
}

/* Atelier-Heath Purple */
.hljs-keyword {
  color: #7b59c0;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1b181b;
  color: #ab9bab;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula {
  opacity: 0.5;
}
