/* Base16 Atelier Cave Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Cave Comment */
.hljs-comment {
  color: #655f6d;
}

/* Atelier-Cave Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.hljs-tag .hljs-name,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype {
  color: #be4678;
}

/* Atelier-Cave Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-meta,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #aa573c;
}

/* Atelier-Cave Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-symbol,
.xml .hljs-cdata {
  color: #2a9292;
}

/* Atelier-Cave Aqua */
.hljs-title,
.hljs-section {
  color: #398bc6;
}

/* Atelier-Cave Blue */
.hljs-name {
  color: #576ddb;
}

/* Atelier-Cave Purple */
.hljs-keyword {
  color: #955ae7;
}

.hljs-deletion,
.hljs-addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #be4678;
}

.hljs-addition {
  background-color: #2a9292;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #efecf4;
  color: #585260;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.5;
}
