/* Base16 Atelier Lakeside Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
.hljs-comment {
  color: #5a7b8c;
}

/* Atelier-Lakeside Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-tag .hljs-name,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-meta,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-symbol,
.xml .hljs-cdata {
  color: #568c3b;
}

/* Atelier-Lakeside Aqua */
.hljs-title,
.hljs-section {
  color: #2d8f6f;
}

/* Atelier-Lakeside Blue */
.hljs-name,
.perl .hljs-sub {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
.hljs-keyword {
  color: #6b6bb8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #ebf8ff;
  color: #516d7b;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.5;
}
