/* Base16 Atelier Seaside Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/seaside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Seaside Comment */
.hljs-comment {
  color: #687d68;
}

/* Atelier-Seaside Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-tag .hljs-name,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype {
  color: #e6193c;
}

/* Atelier-Seaside Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-meta,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #87711d;
}

/* Atelier-Seaside Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-symbol,
.xml .hljs-cdata {
  color: #29a329;
}

/* Atelier-Seaside Aqua */
.hljs-title,
.hljs-section {
  color: #1999b3;
}

/* Atelier-Seaside Blue */
.hljs-name,
.perl .hljs-sub {
  color: #3d62f5;
}

/* Atelier-Seaside Purple */
.hljs-keyword {
  color: #ad2bee;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f4fbf4;
  color: #5e6e5e;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.5;
}
