/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background:#b7a68e url(./brown_papersq.png);
  -webkit-text-size-adjust: none;
}

.hljs-keyword,
.hljs-literal,
.tex .hljs-special {
  color:#005599;
  font-weight:bold;
}

.hljs,
.hljs-subst {
  color: #363c69;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-attribute,
.hljs-preprocessor,
.hljs-symbol,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-addition,
.hljs-variable,
.tex .hljs-number,
.hljs-name {
  color: #2c009f;
}

.hljs-comment,
.hljs-annotation,
.hljs-meta,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.tex .hljs-formula {
  color: #802022;
}

.hljs-keyword,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.rsl .hljs-built_in,
.tex .hljs-command {
  font-weight: bold;
}

.tex .hljs-formula {
  opacity: 0.8;
}
