/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst {
  color: #000;
}

.hljs-string,
.hljs-preprocessor,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.tex .hljs-command,
.tex .hljs-special,
.asciidoc .hljs-header,
.markdown .hljs-header {
  color: #756bb1;
}

.hljs-comment,
.hljs-annotation,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #636363;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.lasso .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #31a354;
}

.hljs-label,
.hljs-deletion,
.hljs-variable,
.hljs-shebang,
.tex .hljs-formula,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute {
  color: #88f;
}



.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong {
  color: #3182bd;
}

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
  font-style: italic;
}

.lasso .markup,
.tex .hljs-formula {
  opacity: 0.5;
}

.hljs-attribute {
  color: #e6550d;
}
