/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst {
  color: #000;
}

.hljs-string,
.hljs-preprocessor,
.hljs-meta,
.hljs-symbol,
.hljs-template_tag,
.django .hljs-variable,
.hljs-addition,
.tex .hljs-command,
.tex .hljs-special,
.asciidoc .hljs-header,
.markdown .hljs-header {
  color: #756bb1;
}

.smartquote,
.hljs-comment,
.hljs-annotation,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #636363;
}

.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.smalltalk .hljs-char,
.lasso .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #31a354;
}

.hljs-label,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-variable,
.hljs-shebang,
.hljs-list .hljs-built_in,
.tex .hljs-formula,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute {
  color: #88f;
}



.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong {
  color: #3182bd;
}

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
  font-style: italic;
}

.lasso .markup,
.tex .hljs-formula {
  opacity: 0.5;
}

.hljs-attribute {
  color: #e6550d;
}
