/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre code[class]:after {
  content: 'highlight: ' attr(class);
  display: block; text-align: right;
  font-size: smaller;
  color: #CCC; background: white;
  border-top: solid 1px black;
  padding-top: 0.5em;
}

pre code {
  display: block;
  background: #444;
}

pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .tex .special_symbol {
  color: white;
}

pre code,
pre .ruby .subst {
  color: #DDD;
}

pre .string,
pre .function .title,
pre .class .title,
pre .ini .title,
pre .tag .attribute .value,
pre .css .rules .value,
pre .preprocessor,
pre .ruby .symbol,
pre .ruby .instancevar,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .ruby .string,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command {
  color: #D88;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #777;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .function .title,
pre .class .title,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .xml .tag .title,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .lisp .title,
pre .apache .tag,
pre .tex .special_sybmol {
  font-weight: bold;
}

pre .html .css,
pre .html .javascript,
pre .html .vbscript,
pre .tex .formula {
  opacity: 0.5;
}
