/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #444;
  -webkit-text-size-adjust: none;
}

.hljs-keyword,
.hljs-literal,
.tex .hljs-special,
.hljs-section {
  color: white;
}

.hljs,
.hljs-subst {
  color: #ddd;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-tag .hljs-value,
.hljs-preprocessor,
.hljs-symbol,
.hljs-built_in,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.tex .hljs-command {
  color: #d88;
}

.hljs-comment,
.hljs-annotation,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.hljs-meta,
.tex .hljs-formula {
  color: #777;
}

.hljs-keyword,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.tex .hljs-special {
  font-weight: bold;
}

.tex .hljs-formula {
  opacity: 0.5;
}
