/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre code[class]:after {
  content: 'highlight: ' attr(class);
  display: block; text-align: right;
  font-size: smaller;
  color: #CCC; background: white;
  border-top: solid 1px;
  padding-top: 0.5em;
}

pre code {
  display: block;
  background: #F0F0F0;
}

pre code,
.ruby .subst,
.xml .title,
.lisp .title {
  color: black;
}

.string,
.title,
.parent,
.tag .attribute .value,
.rules .value,
.rules .value .number,
.preprocessor,
.ruby .symbol,
.instancevar,
.aggregate,
.template_tag,
.django .variable,
.smalltalk .class,
.addition,
.flow,
.stream,
.bash .variable,
.apache .tag,
.apache .cbracket {
  color: #800;
}

.comment,
.annotation,
.template_comment,
.diff .header,
.chunk {
  color: #888;
}

.number,
.regexp,
.literal,
.smalltalk .symbol,
.smalltalk .char,
.change {
  color: #080;
}

.label,
.javadoc,
.ruby .string,
.decorator,
.filter .argument,
.localvars,
.array,
.attr_selector,
.pi,
.doctype,
.deletion,
.envvar,
.shebang,
.apache .sqbracket {
  color: #88F;
}

.keyword,
.id,
.phpdoc,
.title,
.vbscript .built_in,
.rsl .built_in,
.cpp .built_in,
.avrasm .built_in,
.aggregate,
.smalltalk .class,
.winutils,
.bash .variable,
.apache .tag {
  font-weight: bold;
}

.html .css,
.html .javascript,
.html .vbscript {
  opacity: 0.5;
}
