/*!
    Theme: devibeans(dark)
    Author: @terminaldweller
    Maintainer: @terminaldweller

    Inspired by vim's jellybeans theme (https://github.com/nanotech/jellybeans.vim)
*/

.hljs {
  background: #000000;
  color: #a39e9b;
}

.hljs-comment,
.hljs-quote {
  color: #339966;
}

.hljs-params {
  color: #a39e9b;
}

.hljs-regexp {
  color: #d700ff;
}

.hljs-tag,
.hljs-selector-id,
.hljs-number,
.hljs-literal {
  color: #ef5350;
}

.hljs.meta {
  color: #0087ff;
}

.hljs-operator {
  color: #005faf;
}

.hljs-selector-class,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-keyword {
  color: #64b5f6;
}

.hljs-built_in,
.hljs-title,
.hljs-deletion {
  color: #ff8700;
}

.hljs-type,
.hljs-section,
.hljs-function,
.hljs-name,
.hljs-attribute {
  color: #ffd75f;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #558b2f;
}

.hljs-selector-tag {
  color: #9966ff;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
