/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
  -webkit-text-size-adjust: none;
}

.hljs-comment {
  color: #408080;
  font-style: italic;
}

.hljs-keyword,
.assignment,
.hljs-literal,
.hljs-subst {
  color: #954121;
}

.hljs-number {
  color: #40a070;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-name {
  color: #219161;
}

.hljs-id,
.hljs-section,
.hljs-type {
  color: #19469d;
}

.hljs-params {
  color: #00f;
}

.hljs-title,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-attribute,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-variable,
.instancevar {
  color: #008080;
}

.hljs-regexp {
  color: #b68;
}

.hljs-symbol,
.lisp .hljs-keyword,
.tex .hljs-special,
.input_number {
  color: #990073;
}

.builtin,
.constructor,
.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata,
.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.tex .hljs-formula {
  opacity: 0.5;
}
