/*

FAR Style (c) MajestiC <majestic2k@gmail.com>

*/

pre code[class]:after {
  content: 'highlight: ' attr(class);
  display: block; text-align: right;
  font-size: smaller;
  color: #CCC; background: white;
  border-top: solid 1px;
  padding-top: 0.5em;
}

pre code {
  display: block;
  background: #000080;
}

pre code,
.ruby .subst {
  color: #0FF;
}

pre .string,
pre .ruby .string,
pre .function .ftitle,
pre .function .title,
pre .class .title,
pre .ini .title,
pre .tag .attribute .value,
pre .css .rules .value,
pre .css .rules .value .number,
pre .preprocessor,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .addition,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command {
  color: #FF0;
}

pre .keyword,
pre .css .id,
pre .function .ftitle,
pre .function .title,
pre .class .title,
pre .ini .title,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .xml .tag .title,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .change,
pre .envvar,
pre .bash .variable,
pre .tex .special {
  color: #FFF;
}

pre .comment,
pre .phpdoc,
pre .javadoc,
pre .java .annotation,
pre .template_comment,
pre .deletion,
pre .apache .sqbracket,
pre .tex .formula {
  color: #888;
}

pre .number,
pre .date,
pre .regexp,
pre .literal,
pre .smalltalk .symbol,
pre .smalltalk .char {
  color: #0F0;
}

pre .python .decorator,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .xml .pi,
pre .diff .header,
pre .chunk,
pre .shebang,
pre .nginx .built_in {
  color: #008080;
}

pre .keyword,
pre .css .id,
pre .function .ftitle,
pre .function .title,
pre .class .title,
pre .ini .title,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .xml .tag .title,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .apache .tag,
pre .nginx .built_in,
pre .tex .command,
pre .tex .special {
  font-weight: bold;
}
