/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.json .hljs-attribute,
.makefile .hljs-variable,
.markdown .hljs-value,
.markdown .hljs-link_label,
.markdown .hljs-strong,
.markdown .hljs-emphasis,
.markdown .hljs-blockquote,
.perl .hljs-regexp,
.php .hljs-regexp,
.xml .hljs-value {
  color: #df5000;
}

.hljs-keyword,
.hljs-name,
.hljs-type,
.objectivec .hljs-preprocessor,
.sql .hljs-built_in {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-attribute,
.cs .hljs-number,
.cs .hljs-built_in,
.http .hljs-literal,
.http .hljs-attribute,
.json .hljs-number,
.makefile .hljs-keyword,
.markdown .hljs-link_reference,
.objectivec .hljs-literal,
.objectivec .hljs-number,
.objectivec .hljs-built_in,
.php .hljs-literal,
.php .hljs-number,
.ruby .hljs-prompt,
.ruby .hljs-number,
.ruby .hljs-subst .hljs-keyword,
.sql .hljs-number,
.swift .hljs-built_in,
.swift .hljs-number {
  color: #0086b3;
}

.hljs-section,
.hljs-tag .hljs-name,
.cs .hljs-xmlDocTag {
  color: #63a35c;
}

.cs .hljs-preprocessor,
.cs .hljs-preprocessor .hljs-keyword,
.xml .hljs-tag {
  color: #333333;
}

.hljs-title,
.perl .hljs-sub,
.ruby .hljs-parent,
.xml .hljs-attribute {
  color: #795da3;
}

.diff .hljs-chunk {
  font-weight: bold;
}

.diff .hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.diff .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.markdown .hljs-link_url {
  text-decoration: underline;
}
