/*!
 * GitHub.com style
 *
 * GitHub Light v0.5.0
 * https://github.com/primer/github-syntax-light
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #24292e;
  background: #ffffff;
}

.hljs-keyword,
.hljs-doctag,
.hljs-meta-keyword,
.hljs-builtin-name,
.hljs-type,
.hljs-template-tag,
.hljs-template-variable {
  color: #d73a49;
}

.hljs-title {
  color: #6f42c1;
}

.hljs-literal,
.hljs-number,
.hljs-attr,
.hljs-attrib,
.hljs-variab,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr {
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta-string {
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol,
.hljs-class .hljs-title {
  color: #e36209;
}

.hljs-comment,
.hljs-meta,
.hljs-code,
.hljs-formula {
  color: #6a737d;
}

.hljs-section {
  font-weight: bold;
  color: #005cc5;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
}

.hljs-bullet {
  color: #735c0f;
}

.hljs-emphasis {
  font-style: italic;
  color: #24292e;
}

.hljs-strong {
  font-weight: bold;
  color: #24292e;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
