/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
  -webkit-text-size-adjust: none;
}

.hljs-comment {
  color: #800;
}

.hljs-keyword,
.hljs-section,
.hljs-title,
.method,
.hljs-list .hljs-keyword,
.hljs-tag .hljs-name,
.setting .hljs-value,
.tex .hljs-command,
.hljs-request,
.hljs-status {
  color: #008;
}

.hljs-envvar,
.hljs-variable,
.tex .hljs-special {
  color: #660;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-date,
.hljs-regexp {
  color: #080;
}

.hljs-pi,
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-decorator,
.hljs-shebang,
.hljs-prompt,
.hljs-literal,
.hljs-symbol,
.hljs-meta,
.hljs-number,
.clojure .hljs-attribute {
  color: #066;
}

.hljs-title,
.hljs-doctag,
.hljs-type,
.hljs-tag .hljs-attribute,
.hljs-doctype,
.hljs-built_in,
.setting,
.hljs-params,
.hljs-name {
  color: #606;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-annotation {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor * {
  color: #444;
}

.tex .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.diff .hljs-header,
.hljs-chunk {
  color: #808080;
  font-weight: bold;
}

.diff .hljs-change {
  background-color: #bccff9;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-doctag {
  font-weight: bold;
}
