/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/

/*background color*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1d1f21;
  -webkit-text-size-adjust: none;
}

/*selection color*/
.hljs::selection,
.hljs span::selection {
  background: #373b41;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41;
}

/*foreground color*/
.hljs,
.hljs-expression .hljs-variable,
.hljs-expression .hljs-begin-block,
.hljs-expression .hljs-end-block {
  color: #c5c8c6;
}

/*color: fg_yellow*/
.hljs-title,
.hljs-name,
.hljs-header {
  color: #f0c674;
}

/*color: fg_comment*/
.hljs-comment,
.hljs-shebang,
.hljs-doctype,
.hljs-meta {
  color: #707880;
}

/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link_url,
.hljs-argument,
.hljs-char {
 color: #cc6666
}

/*color: fg_green*/
.hljs-string,
.hljs-special,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr {
  color: #b5bd68;
}

/*color: fg_purple*/
.hljs-variable,
.hljs-attribute,
.hljs-code,
.hljs-expression,
.hljs-localvars,
.hljs-selector-id,
.hljs-variable .hljs-filter,
.hljs-variable .hljs-filter .hljs-keyword,
.hljs-template_tag .hljs-filter .hljs-keyword {
 color: #b294bb;
}

/*color: fg_blue*/
.hljs-label,
.hljs-keyword,
.hljs-link_label,
.hljs-bullet,
.hljs-smartquote,
.hljs-method,
.hljs-tag {
 color: #81a2be;
}

/*color: fg_aqua*/
.hljs-annotation,
.hljs-subst,
.hljs-horizontal_rule,
.hljs-preprocessor .hljs-keyword,
.hljs-template_tag,
.hljs-variable,
.hljs-variable .hljs-filter .hljs-argument {
  color: #8abeb7;
}

/*color: fg_orange*/
.hljs-type,
.hljs-built_in,
.hljs-link_reference,
.hljs-blockquote,
.hljs-header,
.hljs-section,
.hljs-selector-class {
  color: #de935f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
