/*
Description: Magula style for highligh.js
Author: Ruslan Keba <rukeba@gmail.com>
Website: http://rukeba.com/
Version: 1.0
Date: 2009-01-03
Music: Aphex Twin / Xtal
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: #f4f4f4;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst {
  color: black;
}

.hljs-string,
.hljs-title,
.hljs-preprocessor,
.hljs-symbol,
.hljs-attribute,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #050;
}

.hljs-comment,
.hljs-annotation {
  color: #777;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-type,
.smalltalk .hljs-char,
.tex .hljs-special {
  color: #800;
}

.hljs-label,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.hljs-meta,
.tex .hljs-formula {
  color: #00e;
}

.hljs-keyword,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-tag,
.hljs-name,
.tex .hljs-command {
  font-weight: bold;
  color: navy;
}

.tex .hljs-formula {
  opacity: 0.5;
}
