/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822; color: #ddd;
  -webkit-text-size-adjust: none;
}

.hljs-tag,
.hljs-keyword,
.hljs-literal,
.hljs-strong,
.hljs-name,
.tex .hljs-special {
  color: #f92672;
}

.asciidoc .hljs-code,
.markdown .hljs-code {
  color: #66d9ef;
}

.hljs-code,
.hljs-class .hljs-title,
.hljs-header {
  color: white;
}

.hljs-link_label,
.hljs-attribute,
.hljs-symbol,
.hljs-value,
.hljs-regexp {
  color: #bf79db;
}

.hljs-link_url,
.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-preprocessor,
.hljs-built_in,
.hljs-selector-attr,
.django .hljs-template_tag,
.django .hljs-variable,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-addition,
.hljs-variable,
.tex .hljs-command {
  color: #a6e22e;
}

.hljs-comment,
.hljs-annotation,
.smartquote,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.hljs-meta,
.tex .hljs-formula {
  color: #75715e;
}

.hljs-keyword,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-header,
.hljs-section,
.hljs-type,
.hljs-selector-id,
.rsl .hljs-built_in,
.tex .hljs-special {
  font-weight: bold;
}

.tex .hljs-formula {
  opacity: 0.5;
}
