/*
  Five-color theme from a single blue hue.
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eaeef3;
  -webkit-text-size-adjust: none;
}

.hljs {
  color: #00193a;
}

.hljs-keyword,
.hljs-title,
.hljs-section,
.hljs-header,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

.hljs-comment {
  color: #738191;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-link_label,
.hljs-blockquote,
.hljs-header,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #0048ab;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-preprocessor,
.hljs-attribute,
.hljs-deletion,
.hljs-shebang,
.hljs-variable,
.hljs-template-variable,
.hljs-link_url,
.hljs-bullet {
  color: #4c81c9;
}
