/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282b2e;
  -webkit-text-size-adjust: none;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-selector-id,
.tex .hljs-special {
  color: #93c763;
}

.hljs-number {
  color: #ffcd22;
}

.hljs {
  color: #e0e2e4;
}

.hljs-attribute {
  color: #668bb0;
}

.hljs-code,
.hljs-class .hljs-title,
.hljs-section,
.hljs-header {
  color: white;
}

.hljs-regexp {
  color: #d39745;
}

.hljs-meta {
  color: #557182;
}

.hljs-link_url,
.hljs-tag,
.hljs-name,
.hljs-bullet,
.hljs-subst,
.hljs-emphasis,
.hljs-type,
.hljs-preprocessor,
.hljs-built_in,
.hljs-selector-attr,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.tex .hljs-command {
  color: #8cbbad;
}

.hljs-string,
.hljs-symbol {
  color: #ec7600;
}

.hljs-comment,
.hljs-annotation,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-deletion,
.hljs-shebang,
.tex .hljs-formula {
  color: #818e96;
}

.hljs-selector-class {
  color: #A082BD
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-header,
.hljs-type,
.hljs-name,
.tex .hljs-special {
  font-weight: bold;
}

.tex .hljs-formula {
  opacity: 0.5;
}
