/*

Ontotext style (c) ontotext.com

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #ffffff;
  color: #0;
}

.hljs-function {
  color: #708;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #708;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #164;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr {
  color: #219;
}

.hljs-literal {
  color: #085;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #219;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #f50;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #a11;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #a50;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
