/*
    Paraíso (dark)
    Created by Jan T. Sott (http://github.com/idleberg)s
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
.hljs.comment,
.hljs.title {
  color: #8d8687;
}

/* Paraíso Red */
.hljs.variable,
.hljs.attribute,
.hljs.tag,
.hljs.regexp,
.hljs.ruby .constant,
.hljs.xml .tag .title,
.hljs.xml .pi,
.hljs.xml .doctype,
.hljs.html .doctype,
.hljs.css .id,
.hljs.css .class,
.hljs.css .pseudo {
  color: #ef6155;
}

/* Paraíso Orange */
.hljs.number,
.hljs.preprocessor,
.hljs.built_in,
.hljs.literal,
.hljs.params,
.hljs.constant {
  color: #f99b15;
}

/* Paraíso Yellow */
.hljs.ruby .class .title,
.hljs.css .rules .attribute {
  color: #fec418;
}

/* Paraíso Green */
.hljs.string,
.hljs.value,
.hljs.inheritance,
.hljs.header,
.hljs.ruby .symbol,
.hljs.xml .cdata {
  color: #48b685;
}

/* Paraíso Aqua */
.hljs.css .hexcolor {
  color: #5bc4bf;
}

/* Paraíso Blue */
.hljs.function,
.hljs.python .decorator,
.hljs.python .title,
.hljs.ruby .function .title,
.hljs.ruby .title .keyword,
.hljs.perl .sub,
.hljs.javascript .title,
.hljs.coffeescript .title {
  color: #06b6ef;
}

/* Paraíso Purple */
.hljs.keyword,
.hljs.javascript .function {
  color: #815ba4;
}

.hljs {
  display: block;
  background: #2f1e2e;
  color: #a39e9b;
  padding: 0.5em;
}

.hljs.coffeescript .javascript,
.hljs.javascript .xml,
.hljs.tex .formula,
.hljs.xml .javascript,
.hljs.xml .vbscript,
.hljs.xml .css,
.hljs.xml .cdata {
  opacity: 0.5;
}
