/*
    Paraíso (light)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
.hljs-comment {
  color: #776e71;
}

/* Paraíso Red */
.hljs-variable,
.hljs-tag,
.hljs-regexp,
.hljs-meta,
.hljs-tag .hljs-name,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype {
  color: #ef6155;
}

/* Paraíso Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
  color: #f99b15;
}

/* Paraíso Yellow */
.hljs-title,
.hljs-section,
.hljs-attribute {
  color: #fec418;
}

/* Paraíso Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-symbol,
.hljs-addition,
.xml .hljs-cdata {
  color: #48b685;
}

/* Paraíso Blue */
.perl .hljs-sub {
  color: #06b6ef;
}

/* Paraíso Purple */
.hljs-keyword,
.hljs-name {
  color: #815ba4;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #e7e9db;
  color: #4f424c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.5;
}
