/*

    Name:       Paraíso (Dark)
    Author:     Jan T. Sott

    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
    Created using Chris Kempson's Base16-Builder (https://github.com/chriskempson/base16-builder)

*/
.base16-paraiso-dark-comment, pre .comment, pre .title {
  color: #8d8687;
}

.base16-paraiso-dark-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #ef6155;
}

.base16-paraiso-dark-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f99b15;
}

.base16-paraiso-dark-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #fec418;
}

.base16-paraiso-dark-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #48b685;
}

.base16-paraiso-dark-aqua, pre .css .hexcolor {
  color: #5bc4bf;
}

.base16-paraiso-dark-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #06b6ef;
}

.base16-paraiso-dark-purple, pre .keyword, pre .javascript .function {
  color: #815ba4;
}

pre code {
  display: block;
  background: #2f1e2e;
  color: #a39e9b;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
