/*

Pojoaque Style by Jason Tate
http://web-cms-designs.com/ftopict-10-pojoaque-style-for-highlight-js-code-highlighter.html
Based on Solarized Style from http://ethanschoonover.com/solarized

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #dccf8f;
  background: url(./pojoaque.jpg) repeat scroll left top #181914;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-doctype {
  color: #586e75;
  font-style: italic;
}

.hljs-keyword,
.hljs-literal,
.method,
.hljs-addition {
  color: #b64926;
}

.hljs-number,
.hljs-command,
.hljs-string,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp {
  color: #468966;
}

.hljs-title,
.hljs-section,
.hljs-localvars,
.hljs-built_in,
.hljs-name {
  color: #ffb03b;
}

.hljs-variable,
.smalltalk .hljs-number,
.hljs-class .hljs-title,
.hljs-type,
.hljs-tag {
  color: #b58900;
}

.hljs-attribute {
  color: #b89859;
}

.hljs-preprocessor,
.hljs-shebang,
.hljs-symbol,
.hljs-special,
.hljs-subst,
.hljs-meta {
  color: #cb4b16;
}

.hljs-deletion {
  color: #dc322f;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #d3a60c;
}

.tex .hljs-formula {
  background: #073642;
}
