/*

Pojoaque Style by Jason Tate
http://web-cms-designs.com/ftopict-10-pojoaque-style-for-highlight-js-code-highlighter.html
Based on Solarized Style from http://ethanschoonover.com/solarized

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #dccf8f;
  background: url(./pojoaque.jpg) repeat scroll left top #181914;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.lisp .hljs-string {
  color: #586e75;
  font-style: italic;
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.method,
.hljs-addition,
.hljs-list .hljs-keyword {
  color: #b64926;
}

.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp {
  color: #468966;
}

.hljs-title,
.hljs-section,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in {
  color: #ffb03b;
}

.hljs-variable,
.smalltalk .hljs-number,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type {
  color: #b58900;
}

.hljs-attribute {
  color: #b89859;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-shebang,
.hljs-symbol,
.diff .hljs-change,
.hljs-special,
.hljs-subst,
.hljs-cdata,
.hljs-meta {
  color: #cb4b16;
}

.hljs-deletion {
  color: #dc322f;
}

.tex .hljs-formula {
  background: #073642;
}
