/*

Portugol Studio Dark by Marco Antonio Augusto de Andrade <https://marcoandra.de>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #263238;
  color: white;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: #e8e2b7;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #39bdff;
  font-weight: bold;
}

.hljs-string,
.hljs-bullet {
  color: #ffc116;
}

.hljs-type,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #fbfbfb;
}

.hljs-title{
  color: #e8e2b7;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #00f0c0;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #f1433c;
  font-weight: bold;
}
  
.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #66747b;
}

.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}

.hljs-meta {
  color: #fc9b9b;
}

.hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}

.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
