/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-shebang {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-request,
.hljs-status,
.method,
.hljs-name {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-variable,
.hljs-date,
.tex .hljs-command,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-tag .hljs-name,
.hljs-doctype,
.hljs-pi,
.input_number {
  color: #e8bf6a;
}

.hljs-type,
.hljs-name {
  color: #da4939;
}


.hljs-symbol,
.hljs-built_in,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #6d9cbe;
}

.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  text-decoration: underline;
}



.hljs-params,
.clojure .hljs-attribute {
  color: #d0d0ff;
}

,
.hljs-attribute,
.tex .hljs-special {
  color: #cda869;
}

.hljs-annotation,
.hljs-meta {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor * {
  color: #8996a8 !important;
}

.hljs-title,
.hljs-section,
.hljs-decorator {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.7;
}
