/*

Style with support for rainbow parens

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #474949;
  color: #d1d9e1;
  -webkit-text-size-adjust: none;
}


.hljs-collection {
   color: #d1d9e1;
}

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.lisp .hljs-string {
  color: #969896;
  font-style: italic;
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-type,
.clojure .hljs-attribute,
.hljs-addition {
  color: #cc99cc;
}

.hljs-number { color: #f99157; }

.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp {
  color: #8abeb7;
}

.hljs-title,
.hljs-section,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in {
  color: #b5bd68;
}

.hljs-variable,
.smalltalk .hljs-number,
.hljs-class .hljs-title,
.hljs-parent,
.haskell .hljs-label {
   color: #ffcc66;
}

.hljs-section,
.hljs-attribute,
.hljs-tag .hljs-name,
.django .hljs-tag .hljs-keyword {
  font-weight: bold;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-shebang,
.hljs-symbol,
.diff .hljs-change,
.hljs-special,
.hljs-subst,
.hljs-cdata,
.hljs-meta {
  color: #f99157;
}

.hljs-deletion {
  color: #dc322f;
}

.tex .hljs-formula {
  background: #eee8d5;
}
