/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

pre code {
  display: block; padding: 15px 0.5em 0.5em 30px;
  font-size: 11px !important;
  line-height:16px !important;
}

pre{
  background:#f6f6ae url(./school_book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}

pre .hljs-keyword,
pre .hljs-literal,
pre .hljs-change,
pre .hljs-winutils,
pre .hljs-flow,
pre .lisp .hljs-title,
pre .clojure .hljs-built_in,
pre .nginx .hljs-title,
pre .tex .hljs-special {
  color:#005599;
  font-weight:bold;
}

pre code,
pre .hljs-subst,
pre .hljs-tag .hljs-keyword {
  color: #3E5915;
}

pre .hljs-string,
pre .hljs-title,
pre .haskell .hljs-type,
pre .hljs-tag .hljs-value,
pre .css .hljs-rules .hljs-value,
pre .hljs-preprocessor,
pre .ruby .hljs-symbol,
pre .ruby .hljs-symbol .hljs-string,
pre .ruby .hljs-class .hljs-parent,
pre .hljs-built_in,
pre .sql .hljs-aggregate,
pre .django .hljs-template_tag,
pre .django .hljs-variable,
pre .smalltalk .hljs-class,
pre .hljs-javadoc,
pre .ruby .hljs-string,
pre .django .hljs-filter .hljs-argument,
pre .smalltalk .hljs-localvars,
pre .smalltalk .hljs-array,
pre .hljs-attr_selector,
pre .hljs-pseudo,
pre .hljs-addition,
pre .hljs-stream,
pre .hljs-envvar,
pre .apache .hljs-tag,
pre .apache .hljs-cbracket,
pre .nginx .hljs-built_in,
pre .tex .hljs-command,
pre .coffeescript .hljs-attribute {
  color: #2C009F;
}

pre .hljs-comment,
pre .java .hljs-annotation,
pre .python .hljs-decorator,
pre .hljs-template_comment,
pre .hljs-pi,
pre .hljs-doctype,
pre .hljs-deletion,
pre .hljs-shebang,
pre .apache .hljs-sqbracket {
  color: #E60415;
}

pre .hljs-keyword,
pre .hljs-literal,
pre .css .hljs-id,
pre .hljs-phpdoc,
pre .hljs-title,
pre .haskell .hljs-type,
pre .vbscript .hljs-built_in,
pre .sql .hljs-aggregate,
pre .rsl .hljs-built_in,
pre .smalltalk .hljs-class,
pre .xml .hljs-tag .hljs-title,
pre .diff .hljs-header,
pre .hljs-chunk,
pre .hljs-winutils,
pre .bash .hljs-variable,
pre .apache .hljs-tag,
pre .tex .hljs-command,
pre .hljs-request,
pre .hljs-status {
  font-weight: bold;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .hljs-formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .hljs-cdata {
  opacity: 0.5;
}
