/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

pre code {
  display: block; padding: 0.5em;
  background: #fdf6e3; color: #657b83;
}

pre .hljs-comment,
pre .hljs-template_comment,
pre .diff .hljs-header,
pre .hljs-doctype,
pre .hljs-pi,
pre .lisp .hljs-string,
pre .hljs-javadoc {
  color: #93a1a1;
  font-style: italic;
}

pre .hljs-keyword,
pre .hljs-winutils,
pre .method,
pre .hljs-addition,
pre .css .hljs-tag,
pre .hljs-request,
pre .hljs-status,
pre .nginx .hljs-title {
  color: #859900;
}

pre .hljs-number,
pre .hljs-command,
pre .hljs-string,
pre .hljs-tag .hljs-value,
pre .hljs-rules .hljs-value,
pre .hljs-phpdoc,
pre .tex .hljs-formula,
pre .hljs-regexp,
pre .hljs-hexcolor {
  color: #2aa198;
}

pre .hljs-title,
pre .hljs-localvars,
pre .hljs-chunk,
pre .hljs-decorator,
pre .hljs-built_in,
pre .hljs-identifier,
pre .vhdl .hljs-literal,
pre .hljs-id,
pre .css .hljs-function {
  color: #268bd2;
}

pre .hljs-attribute,
pre .hljs-variable,
pre .lisp .hljs-body,
pre .smalltalk .hljs-number,
pre .hljs-constant,
pre .hljs-class .hljs-title,
pre .hljs-parent,
pre .haskell .hljs-type {
  color: #b58900;
}

pre .hljs-preprocessor,
pre .hljs-preprocessor .hljs-keyword,
pre .hljs-shebang,
pre .hljs-symbol,
pre .hljs-symbol .hljs-string,
pre .diff .hljs-change,
pre .hljs-special,
pre .hljs-attr_selector,
pre .hljs-important,
pre .hljs-subst,
pre .hljs-cdata,
pre .clojure .hljs-title,
pre .css .hljs-pseudo {
  color: #cb4b16;
}

pre .hljs-deletion {
  color: #dc322f;
}

pre .tex .hljs-formula {
  background: #eee8d5;
}
