/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000;
  color: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment {
  color: #aeaeae;
  font-style: italic;
}

.hljs-keyword,
.hljs-type,
.hljs-request,
.hljs-status {
  color: #e28964;
}

.hljs-string,
.hljs-filter .hljs-argument,
.hljs-date,
.tex .hljs-command {
  color: #65b042;
}

.hljs-subst {
  color: #daefa3;
}

.hljs-regexp {
  color: #e9c062;
}

.hljs-title,
.hljs-section,
.hljs-tag,
.hljs-name,
.hljs-shebang,
.hljs-prompt {
  color: #89bdff;
}

.hljs-class .hljs-title,
.hljs-doctag {
  text-decoration: underline;
}

.hljs-symbol,
.hljs-number {
  color: #3387cc;
}

.hljs-params,
.hljs-variable,
.clojure .hljs-attribute {
  color: #3e87e3;
}

.hljs-attribute,
.tex .hljs-special {
  color: #cda869;
}

.hljs-annotation {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-meta {
  color: #8996a8;
}

.tex .hljs-formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}

.hljs-addition {
  background-color: #253b22;
  color: #f8f8f8;
}

.hljs-deletion {
  background-color: #420e09;
  color: #f8f8f8;
}

.tex .hljs-formula {
  opacity: 0.5;
}
