/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-tag,
.hljs-tag .hljs-name,
.hljs-regexp,
.hljs-deletion {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta {
  color: #e78c45;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-symbol,
.hljs-addition {
  color: #b9ca4a;
}

/* Tomorrow Aqua */
.hljs-title,
.hljs-section {
  color: #70c0b1;
}

/* Tomorrow Blue */
.hljs-name {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-keyword {
  color: #c397d8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula {
  opacity: 0.5;
}
