/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, .hljs-comment, .hljs-title {
  color: #969896;
}

.tomorrow-red, .hljs-variable, .hljs-attribute, .hljs-tag, .hljs-regexp, .ruby .hljs-constant, .xml .hljs-tag .hljs-title, .xml .hljs-pi, .xml .hljs-doctype, .html .hljs-doctype, .css .hljs-id, .css .hljs-class, .css .hljs-pseudo {
  color: #d54e53;
}

.tomorrow-orange, .hljs-number, .hljs-preprocessor, .hljs-built_in, .hljs-literal, .hljs-params, .hljs-constant {
  color: #e78c45;
}

.tomorrow-yellow, .ruby .hljs-class .hljs-title, .css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

.tomorrow-green, .hljs-string, .hljs-value, .hljs-inheritance, .hljs-header, .ruby .hljs-symbol, .xml .hljs-cdata {
  color: #b9ca4a;
}

.tomorrow-aqua, .css .hljs-hexcolor {
  color: #70c0b1;
}

.tomorrow-blue, .hljs-function, .python .hljs-decorator, .python .hljs-title, .ruby .hljs-function .hljs-title, .ruby .hljs-title .hljs-keyword, .perl .hljs-sub, .javascript .hljs-title, .coffeescript .hljs-title {
  color: #7aa6da;
}

.tomorrow-purple, .hljs-keyword, .javascript .hljs-function {
  color: #c397d8;
}

.hljs {
  display: block;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
