/* Tomorrow Night Blue Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment {
  color: #7285b7;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-tag,
.hljs-regexp,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype {
  color: #ff9da4;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta {
  color: #ffc58f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #ffeead;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-symbol,
.xml .hljs-cdata {
  color: #d1f1a9;
}

/* Tomorrow Aqua */
.hljs-title,
.hljs-section {
  color: #99ffff;
}

/* Tomorrow Blue */
.hljs-name,
.python .hljs-decorator,
.perl .hljs-sub {
  color: #bbdaff;
}

/* Tomorrow Purple */
.hljs-keyword {
  color: #ebbbff;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #002451;
  color: white;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.tex .hljs-formula,
.xml .hljs-cdata {
  opacity: 0.5;
}
