/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-annotation,
.diff .hljs-header,
.hljs-chunk,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-id,
.hljs-built_in,
.hljs-name,
.bash .hljs-variable,
.tex .hljs-command,
.hljs-request,
.hljs-status,
.xml .hljs-tag,
.xml .hljs-tag .hljs-value {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-symbol,
.hljs-literal,
.hljs-template_tag,
.django .hljs-variable,
.hljs-addition,
.hljs-date,
.tex .hljs-formula {
  color: #a31515;
}

.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.hljs-preprocessor,
.hljs-pragma,
.tex .hljs-special,
.hljs-prompt,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag,
.hljs-xmlDocTag {
  color: #808080;
}

.vhdl .hljs-string { color: #666666; }

.vhdl .hljs-attribute { color: #00b0e8; }

.xml .hljs-attribute { color: #f00; }
