/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
  -webkit-text-size-adjust: none;
}

.hljs-keyword,
.hljs-tag {
  color: #e3ceab;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc;
}

.hljs-literal,
.tex .hljs-special {
  color: #efefaf;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type,
.tex .hljs-command {
  color: #efef8f;
}

.hljs-symbol {
  color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-preprocessor,
.hljs-built_in,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.tex .hljs-formula {
  color: #cc9393;
}

.hljs-shebang,
.hljs-addition,
.hljs-comment,
.hljs-annotation,
.hljs-meta {
  color: #7f9f7f;
}

.tex .hljs-formula {
  opacity: 0.5;
}

