<!DOCTYPE html>
<html lang="en">
<!-- This file is intended to be built using the instructions here: http://highlightjs.readthedocs.io/en/latest/building-testing.html#building -->
<head>
  <meta charset="utf-8">
  <title>highlight.js demo</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="perfect-scrollbar.min.css">

  <link rel="stylesheet" title="Default" href="styles/default.css">
  <% _.each(styles, function(style) { %>
  <link rel="alternate stylesheet" title="<%= style.name %>" href="<%= style.path %>">
  <% }); %>
</head>
<body>
  <div id="sidebar">

    <div id="header">
      <h1><a href="https://highlightjs.org/">highlight.js</a> demo</h1>
    </div>

    <div id="lists">
      <div>
        <h2>Language categories</h2>
        <ul id="categories"></ul>
      </div>

      <div>
        <h2>Styles</h2>
        <ul id="styles"></ul>
      </div>
    </div>

  </div>

  <div id="content">

  <div id="languages">
    <% _.each(languages, function(language) { %>
    <% var categories = language.categories; %>
    <div <% if(categories.length>0) { %>class="<%= categories.join(' ') %>"<% } %>>
      <h2><%- language.prettyName %></h2>
      <pre><code class="<%- path.basename(language.name, '.js') %>"><%- language.sample %></code></pre>
    </div>
    <% }); %>
  </div>

  </div>

  <% if (minify) { %>
  <script src="../highlight.min.js"></script>
  <% } else { %>
  <script src="../highlight.js"></script>
  <% } %>
  <script src="jquery-2.1.1.min.js"></script>
  <script src="perfect-scrollbar.min.js"></script>
  <script src="demo.js"></script>
</body>
</html>
