/* Base styles */
body {
  font: small Arial, sans-serif;
}

#header {
  float: left; width: 18em;
}

h1 {
  font: bold 150% Arial, sans-serif;
  margin: 0; padding: 0.5em 0;
}

h2 {
  font: bold 120% Arial, sans-serif;
  margin: 0; padding: 0.5em 0;
}

pre {
  margin: 0;
  font-size: medium;
}

#styleswitcher {
  float: left; width: 18em;
  clear: left;
}

#languages {
  margin-left: 19em;
}

#styles,
#styles li {
  list-style: none;
  margin: 0; padding: 0;
}

#styles li a {
  color: black;
  text-decoration: none;
}

#autotest div {
  display: none;
}

#autotest p {
  margin: 1.5em 0 0.5em 0;
}

#autotest .fail p::after {
  content: 'failed';
  float: right;
  color: red;
}

/* Export form */
#export_from, #export_to {
  width: 98%;
}
address {
  margin-top: 4em;
}
