/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
    font: 12px "Monospaced", monospace;
    display: block;
    color: #000;
    background: #fff;
}

.subst, .title {
    font-weight: normal;
    color: #000;
}

.comment, .template_comment, .javadoc, .diff .header {
    color: #808080;
    font-style: italic;
}

.annotation, .decorator, .preprocessor, .doctype, .pi, .chunk, .shebang {
    color: #808000;
}

.tag, .pi {
    background: #efefef;
}

.tag .title, .id, .attr_selector, .literal, .keyword, .hexcolor,.css .function, .ini .title, .css .class {
    font-weight: bold;
    color: #000080;
}

.attribute, .rules .keyword, .number, .regexp {
    font-weight: bold;
    color: #0000ff;
}

.number, .regexp {
    font-weight: normal;
}

.string, .value, .filter .argument, .css .function .params {
    color: #008000;
    font-weight: bold;
}

.symbol, .char {
    color: #000;
    background: #d0eded;
    font-style: italic;
}

.phpdoc, .javadoctag {
    text-decoration: underline;
}

.variable, .envvar {
    color: #660e7a;
}

.addition {
    background: #baeeba;
}

.deletion {
    background: #ffc8bd;
}

.diff .change {
    background: #bccff9;
}