/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
    font: 12px / 1.3em 'Lucida Console', 'courier new', monospace;
    color: #f8f8f8;
}

pre {
    background: #000;
}

.comment, .template_comment, .javadoc {
    color: #aeaeae;
    font-style: italic;
}

.keyword, .ruby .function .keyword {
    color: #E28964;
}

.function .keyword, .sub .keyword, .method {
    color: #99CF50;
}

.string, .attribute .value, .cdata, .filter .argument, .attr_selector {
    color: #65B042;
}

.subst {
    color: #DAEFA3;
}

.regexp {
    color: #E9C062;
}

.function .title, .sub .identifier, .pi, .tag, .tag .keyword, .decorator, .ini .title, .shebang {
    color: #89BDFF;
}

.class .title, .smalltalk .class, .javadoctag, .phpdoc {
    text-decoration: underline;
}

.symbol, .number {
    color: #3387CC;
}

.params, .variable {
    color: #3E87E3;
}

.css .keyword {
    color: #CDA869;
}

.css .class {
    color: #9B703F;
}

.rules .keyword {
    color: #C5AF75;
}

.rules .value {
    color: #CF6A4C;
}

.css .id {
    color: #8B98AB;
}

.annotation {
    color: #9B859D;
}

.preprocessor {
    color: #8996A8;
}

.hexcolor, .css .number {
    color: #DD7B3B;
}

.css .function {
    color: #DAD085;
}

.diff .header, .chunk {
    background-color: #0E2231;
    color: #F8F8F8;
    font-style: italic;
}

.diff .change {
    background-color: #4A410D;
    color: #F8F8F8;
}

.addition {
    background-color: #253B22;
    color: #F8F8F8;
}

.deletion {
    background-color: #420E09;
    color: #F8F8F8;
}